@media (min-width: 990px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        /**optional offset from top**/
        top: 2%;
    }
}

#container__bg{
    background-color: #FF0000;
}

#topNav{
    background-color: #FF0000;
}

#nav__menu{
    background-color: #FF0000;
}

#nav__container{
    background-color: #FF0000;
}

#sec__principal{
    background-color: lightgrey;
    border-radius: 25px;
}