#sec__principal{
    background-color: lightgray;
    border-radius: 25px;
}

.textarea{
    background: #f7ee77 !important;
    font-family: 'Audiowide', cursive; font-family: 'Pixelify Sans';
}

label{
    font-size: small !important;
}

#row__label{
    transform: scale(1.6);
}

.CTMR{
    transform: scale(1.5);
}