#sec__principal{
    background-color: lightgray;
    border-radius: 25px;
}

#fotter{
    background-color: #FF0000;
}

.textarea{
    background: #f7ee77 !important;
    font-family: 'Audiowide', cursive; font-family: 'Pixelify Sans';
}

label{
    font-size: small !important;
}