* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    height: 200vb;
}

/* Cabeçalho */

header {
    height: 100px;
    background-color: #EA2927;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_pequena__header{
    display: flex;
    align-items: center;
}

.logo_pequena__img{
    height: 75px;
}

.nav__numero-emergencia{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.Profile__img{
    width: 50px;
    height: 50px;
}

/* Boxes */

.container-acordeon{
    width: 100%;
    max-width: 850px;
    margin: auto;
    margin-top: 80px;
    border-radius: 25px;
}

.container-acordeon h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
    font-family: 'DM Serif Display', serif; font-family: 'Press Start 2P', cursive;
}

.acordeon{
    background: #fff;
}
.acordeon label{
    display: block;
    padding: 20px;
    font-size: 30px;
    background: black;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
    font-weight: 600;
    font-family: 'Audiowide', cursive;
    border-radius: 25px;
}

.acordeon label:hover{
    background: red;
    opacity: 0.7;
}

.acordeon .conteudo-acordeon{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn-acordeon:checked ~ .conteudo-acordeon{
    max-height: 600px;
    padding: 15px 0px;
}

.btn-acordeon{
    display: none;
}